.content {
  display: grid;
}

.code {
  padding-top: 6vw;
  padding-bottom: 4vw;
  font-size: 24px;
}

.timer {
  background-color: rgb(253, 229, 170);
  border-radius: 35px;
  width: 15vw;
  height: 15vw;
  font-size: 20px;
  margin-bottom: 8vw;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rules {
  cursor: pointer;
  color: black;
  border: none;
  font-size: 18px;
  border-radius: 35px;
  background-color: rgb(253, 229, 170);
  width: 40vw;
  height: 10vw;
  margin-bottom: 13vw;
}

.countOfPlayers {
  font-size: 20px;
  padding-bottom: 3vw;
}

.playersList {
  height: 60vw;
  margin-left: 20vw;
  justify-content: left;
}

.players {
  padding-bottom: 2vw;
}

.playerRow {
  margin-left: 6vw;
}

.buttons {
  height: 35vw;
  display: grid;
  margin-top: 14vw;
}

.button {
  color: black;
  cursor: pointer;
  /* margin-bottom: 5vh; */
  font-size: 20px;
  background-color: rgb(253 229 170);
  width: 70vw;
  height: 15vw;
  border: none;
  border-radius: 35px;
}

.buttons :last-child {
  justify-content: end;
}

.waiting {
  color: black;

  /* margin-bottom: 5vh; */
  font-size: 20px;
  background-color: rgb(253 229 170);
  width: 288px;
  height: 52px;
  border: none;
  border-radius: 35px;
}
