.content {
  display: grid;
}
.inputQuestion {
  padding: 4vw;
  border: none;
  background-color: rgb(253 229 170);
  width: 90vw;
  height: 15vw;
  color: black;
  text-align: center;
  border-radius: 35px;
  /* margin-bottom: 3vh; */
}

.rowOfButtons {
  display: flex;
  width: 90vw;
}

.randomQuestion {
  font-size: 18px;
  margin-top: 5vw;
  border: none;
  background-color: rgb(253 229 170);
  width: 50vw;
  height: 12vw;
  color: black;
  text-align: center;
  border-radius: 35px;
  margin-bottom: 3vh;
}

.disabled {
  opacity: 0.5;
}

.readyButton {
  font-size: 18px;
  margin-top: 5vw;
  border: none;
  background-color: rgb(253 229 170);
  width: 30vw;
  height: 12vw;
  color: black;
  text-align: center;
  border-radius: 35px;
  margin-bottom: 3vh;
}
